<aside>
	<div class="panel radius">
		<h3>Let's start the conversation</h3>
		<p>
			Welcome to the Rethink Rotary blog. The blog has been created to encourage conversation amongst Rotarians on how to change their club for the better while retaining what makes Rotary Rotary.

			Posts will focus on rethinking meeting structure, improving your club website, managing social media and generally looking at your club critically for aspects that need to be improved. The goal is to make Rotary the best it can be so future generations can enjoy all it offers and provides to the world.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>