<aside>
	<div class="panel radius">
		<h3>Let's Get Social with Rethink Rotary</h3>
		<ul class="inline-list">
    		<a href="mailto:rethinkrotary@gmail.com">
              <i class="fa fa-envelope-o"></i>
    		</a> 
    		<a href="https://ca.linkedin.com/in/katiecoard">
              <i class="fa fa-linkedin-square"></i>
    		</a>
    		<a href="https://twitter.com/RethinkRotary">
      	      <i class="fa fa-twitter"></i>
   			 </a>       
		</ul>
		
		<!-- <ul class="inline-list">
		{% for social_item in site.data.socialmedia %}
		  <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
		{% endfor %}
		</ul> -->
	</div>

  <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>