<aside>
	<div class="panel radius">
		<h3>Welcome</h3>
		<p>
			Rethink Rotary is the creation of Rotarian Katie Coard. Katie blogs on issues to encourage Rotarians to step out of their comfort zones and start to question how their club works.  
           
            Rethink Rotary also offers consultancy services for Rotary Clubs. Offered are general consultancy, website design, social media managament and club or conference seminars designed to get your club thinking about ways they can rethink Rotary and make your club even more successful. 
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>