---
layout: default
format: page-fullwidth
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}/{{ page.image.title }}" width="970" alt="{{ page.title escape_once }}">
		{% if page.image.caption_url && page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}


<div class="row t30">
	<div class="medium-12 columns">

		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}
			
			{{ content }}
		</article>

	<section id="share">
		<div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="RethinkRotary" 
			data-url="{{ site.url }}{{ page.url}}"
			data-related="RethinkRotary,Rotary,Rotaract"
			data-hashtags="rotary">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>


		<div>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>


			<!-- data-href="{{ site.url }}{{ page.url}}" -->
			<div class="fb-share-button" 
			data-href="{{ site.url }}{{ page.url}}"
			data-layout="button_count"></div>

		</div>
	</section>

	<section id="comments">
		{% if page.comments == true %}
		{% include comments.html %}
		{% endif %}
	</section>

	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->


